<server description="Server for testing CDI">

    <include location="../fatTestPorts.xml"/>

    <featureManager>
        <feature>cdi-1.2</feature>
        <feature>ejb-3.2</feature>
        <feature>servlet-3.1</feature>
    </featureManager>

<logging maxFileSize="20" maxFiles="10" traceFileName="trace.log" 
      traceSpecification="*=info:JCDI=all:com.ibm.ws.webbeans*=all:org.apache.webbeans*=all:org.jboss.weld*=all:com.ibm.ws.cdi*=all:EJBContainer=all:Injection=all"/>
</server>
